# © 2021, Physio33, Emmanuel Etourmy
# open-sourced under the MIT License, https://opensource.org/
# hosted on GitHub, https://github.com/Physio33

# Entête et pied de page (placés à la racine du site)
# / permet que le fichier soit valider pour toute l'arborescence
# . permet de "cacher" les fichiers
HeaderName /.header.html
ReadmeName /.readme.html

# Affichage avec des icones personnalisés (placés dans le répertoire /icons à la racine du site)
# Icone spécifique au répertoire parent
AddIcon /icons/parent.png ..

# Icone spécifique aux répertoires
AddIcon /icons/folder.png

# Icones spécifiques à chaque type de fichiers
AddIcon /icons/text.png .txt
AddIcon /icons/image.png .jpg .jpeg .jpe .png .gif
AddIcon /icons/calendar.png .ics
AddIcon /icons/pdf.png .pdf
AddIcon /icons/zip.png .zip .rar .7z
AddIcon /icons/video.png .mpg .avi
AddIcon /icons/audio.png .mp3 .wav
AddIcon /icons/word.png .doc .docx
AddIcon /icons/excel.png .xls .xlsx
AddIcon /icons/powerpoint.png .ppt .pps .ppsx

# Icone par défaut
DefaultIcon /icons/unknown.png

# Description de chaque fichier/répertoire
AddDescription "Dossier parent" ..
AddDescription "Dossier de fichiers" */
AddDescription "Fichier lisez-moi!" readme.txt
AddDescription "Document texte" *.txt
AddDescription "Adobe Acrobat Document" *.pdf
AddDescription "Document Microsoft Word" *.doc *.rtf *.docx
AddDescription "Feuille de calcul Microsoft Excel" *.xls *.xlsx
AddDescription "Présentation Microsoft PowerPoint" *.ppt *.pptx
AddDescription "Document Microsoft Publisher" *.pub
AddDescription "Dossier compressé" .7z .zip .rar .arj .arc .tar .jar .gz .targz

AddDescription "Fichier MP3" *.mp3

AddDescription "Fichier PNG" *.png
AddDescription "Fichier JPG" *.jpg .jpeg
AddDescription "Fichier GIF" *.gif
AddDescription "Fichier BMP" *.bmp

AddDescription "Application" *.exe

# Autorisation de lister les fichiers pour toute l'arborescence
Options +Indexes

# Fichiers à ignorer dans le listing
IndexIgnore .htaccess .header.html .readme.html favicon.ico .ftpquota .DS_Store icons *.log *,v *,t .??* *~ *# Thumbs.db db _notes

# Paramètres à expliquer
IndexOptions FancyIndexing FoldersFirst SuppressHTMLPreamble VersionSort NameWidth=* HTMLTable Charset=UTF-8 IgnoreCase
IndexOrderDefault Descending Name

# Pages d'erreurs modifiée
# 400 Bad Request
ErrorDocument 400 /errors/400.php

# 401 Authentication Required
ErrorDocument 401 /errors/401.php

# 403 Forbidden
ErrorDocument 403 /errors/403.php

# 404 Not Found
ErrorDocument 404 /errors/404.php

# 500 Server Error
ErrorDocument 500 /errors/500.php
