# © 2021, Physio33, Emmanuel Etourmy
# open-sourced under the MIT License, https://opensource.org/
# hosted on GitHub, https://github.com/Physio33

# Entête et pied de page (placés à la racine du site)
# / permet que le fichier soit valider pour toute l'arborescence
# . permet de "cacher" les fichiers
HeaderName /.header.html
ReadmeName /.readme.html

# Affichage avec des icones personnalisés (placés dans le répertoire /icons à la racine du site)
# Icone spécifique au répertoire parent
AddIcon (PAR,/icons/parent.png) ..

# Icone spécifique aux répertoires
AddIcon (DIR,/icons/folder.png) ^^DIRECTORY^^

# Icones spécifiques à chaque type de fichiers
AddIcon (EXE,/icons/application.png) .exe
AddIcon (TXT,/icons/text.png) .txt
AddIcon (PDF,/icons/pdf.png) .pdf
AddIcon (OFFICE,/icons/word.png) .doc .docx .odt .rtf
AddIcon (OFFICE,/icons/excel.png) .csv .ods .xls .xlsx
AddIcon (OFFICE,/icons/powerpoint.png) .odp .ppt .pptx
AddIcon (OFFICE,/icons/publisher.png) .pub
AddIcon (PICTURE,/icons/image.png) .bmp .gif .jpg .png .svg .tif
AddIcon (AUDIO,/icons/audio.png) .m4a .mp3 .wav .wma
AddIcon (VIDEO,/icons/video.png) .avi .mp4 .wmv
AddIcon (ARCHIVE,/icons/zip.png) .7z .bz2 .gz .lz .rar .tar .xz .z .zip
AddIcon (IMAGE,/icons/iso.png) .iso

# Icones spéciales
AddIcon (README,/icons.readme.png) readme.txt

# Icone par défaut
DefaultIcon /icons/unknown.png

# Description de chaque fichier/répertoire
AddDescription "Dossier parent" ..
AddDescription "Dossier de fichiers" */
AddDescription "Application" *.exe
AddDescription "Document texte" *.txt
AddDescription "Adobe Acrobat Document" *.pdf
AddDescription "Document Microsoft Word" *.doc *.docx *.odt *.rtf
AddDescription "Feuille de calcul Microsoft Excel" *.csv *.ods *.xls *.xlsx
AddDescription "Présentation Microsoft PowerPoint" *.odp *.ppt *.pptx
AddDescription "Document Microsoft Publisher" *.pub
AddDescription "Image BMP" *.bmp
AddDescription "Image GIF" *.gif
AddDescription "Image JPEG" *.jpg
AddDescription "Image PNG" *.png
AddDescription "Image SVG" *.svg
AddDescription "Image TIFF" *.tif
AddDescription "Audio M4A" *.m4a
AddDescription "Audio MP3" *.mp3
AddDescription "Audio WAVE" *.wav
AddDescription "Audio WMA" *.wma
AddDescription "Video AVI" *.avi
AddDescription "Video MP4" *.mp4
AddDescription "Video WMV" *.wmv
AddDescription "Dossier compressé" *.7z *.bz2 *.gz *.lz *.rar *.xz *.z *.zip
AddDescription "Archive" *.tar
AddDescription "Fichier d'image disque" *.iso

# Description spéciale
AddDescription "Lisez-moi!" readme.txt

# Redirection vers HTTPS 
RewriteCond %{SERVER_PORT} ^80$
RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

# Encodage par défaut des fichiers textes et HTML
AddDefaultCharset UTF-8

# Page de maintenance (complèter l'adresse IP)
RewriteEngine on
RewriteCond %{REQUEST_URI} !/maintenance.html$
RewriteCond %{REMOTE_ADDR} !^xxx\.xxx\.xxx\.xxx
RewriteRule $ /maintenance.html [R=302,L]

# Protection des fichiers .htaccess et .htpasswds
<Files ~ "^.*\.([Hh][Tt][AaPp])">
order allow,deny
deny from all
satisfy all
</Files>

# Forcer le téléchargement pour ces types de fichiers
AddType application/octet-stream .exe .pdf .doc .docx .odt .rtf .csv .ods .xls .xlsx .odp .ppt .pptx .pub .bmp .gif .jpg .png .svg .tif .m4a .mp3 .wav .wma .avi .mp4 .wmv .7z .bz2 .gz .lz .rar .tar .xz .z .zip .iso

# Désactiver le hotlinking des images
RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?\domain.com/ [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?\google.com/ [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?\bing.com/ [NC]
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?\yahoo.com/ [NC]
RewriteRule \.(bmp|jpg|jpeg|png|gif|svg|css)$ - [NC,R,L] OR [NC,F]

# Autorisation de lister les fichiers pour toute l'arborescence
Options +Indexes

# Fichiers à ignorer dans le listing
IndexIgnore .htaccess .header.html .readme.html favicon.ico .ftpquota .DS_Store icons Thumbs.db db _notes *.log *,v *,t .??* *~ *# 

# Paramètres à expliquer
IndexOptions FancyIndexing FoldersFirst SuppressHTMLPreamble VersionSort NameWidth=* HTMLTable Charset=UTF-8 IgnoreCase
IndexOrderDefault Descending Name

# Pages d'erreurs modifiée avec retour à l'accueil et retour page précédente.
# 400 - Bad Request/Requête erronée/La syntaxe de la requête est erronée
# 401 - Authentication Required/Authentification nécéssaire/Une authentification est nécessaire pour accéder à la ressource
# 403 - Forbidden/Accès interdit/L'accès à la ressource est interdit
# 404 - Not Found/Ressource inconnue/Nous n'avons pas trouvé la page que vous cherchez
# 500 - Server Error/Erreur interne/Le serveur vient de rencontrer une erreur interne
ErrorDocument 400 /errors/400.html
ErrorDocument 401 /errors/401.html
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html
