# © 2021, Physio33, Emmanuel Etourmy
# open-sourced under the MIT License, https://opensource.org/
# hosted on GitHub, https://github.com/Physio33

# Entête et pied de page (placés à la racine du site)
# / permet que le fichier soit valider pour toute l'arborescence
# . permet de "cacher" les fichiers
HeaderName /.header.html
ReadmeName /.readme.html

# Affichage avec des icones personnalisés (placés dans le répertoire /icons à la racine du site)
# Icone spécifique au répertoire parent
AddIcon (PAR,/icons/parent.png) ..

# Icone spécifique aux répertoires
AddIcon (DIR,/icons/folder.png) ^^DIRECTORY^^

# Icones spécifiques à chaque type de fichiers
AddIcon (TXT,/icons/text.png) .txt
AddIcon (PDF,/icons/pdf.png) .pdf
AddIcon (DOC,/icons/word.png) .doc .docx .odt .rtf
AddIcon (DOC,/icons/excel.png) .csv .ods .xls .xlsx
AddIcon (DOC,/icons/powerpoint.png) .odp .ppt .pptx
AddIcon (DOC,/icons/publisher.png) .pub



AddIcon /icons/image.png .jpg .jpeg .png .gif
AddIcon /icons/zip.png .zip .rar .7z
AddIcon /icons/archive.png .tar
AddIcon /icons/video.png .mpg .avi
AddIcon /icons/audio.png .mp3 .wav


# Icone par défaut
DefaultIcon /icons/unknown.png

# Description de chaque fichier/répertoire
AddDescription "Dossier parent" ..
AddDescription "Dossier de fichiers" */
AddDescription "Document texte" *.txt
AddDescription "Adobe Acrobat Document" *.pdf
AddDescription "Document Microsoft Word" *.doc *.docx *.odt *.rtf
AddDescription "Feuille de calcul Microsoft Excel" *.csv *.ods *.xls *.xlsx
AddDescription "Présentation Microsoft PowerPoint" *.odp *.ppt *.pptx
AddDescription "Document Microsoft Publisher" *.pub

AddDescription "Dossier compressé" .7z .zip .rar .arj .arc lzh  .jar .gz .tar.gz

AddDescription "Archive" *.tar *.TAR

AddDescription "Fichier MP3" *.mp3 *.MP3
AddDescription "Fichier WAV" *.wav *.WAV

Add "Fichier Vidéo MPEG-4 *.mp4
Windows Media Video .wmv

AddDescription "Fichier BMP" *.bmp
AddDescription "Fichier GIF" *.gif
AddDescription "Fichier JPEG" *.jpg *.jpeg
AddDescription "Fichier PNG" *.png
AddDescription "Fichier SVG" *.svg
AddDescription "Fichier TIFF" *.tif

AddDescription "Application" *.exe *.EXE

AddDescription "Fichier lisez-moi!" readme.txt

# Redirection vers HTTPS 
RewriteCond     %{SERVER_PORT} ^80$
RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

# Encodage par défaut des fichiers textes et HTML
AddDefaultCharset UTF-8

# Page de maintenance
RewriteEngine on
RewriteCond %{REQUEST_URI} !/maintenance.html$
RewriteCond %{REMOTE_ADDR} !^xxx\.xxx\.xxx\.xxx
RewriteRule $ /maintenance.html [R=302,L]

# Protection des fichiers .htaccess et .htpasswds
<Files ~ "^.*\.([Hh][Tt][AaPp])">
order allow,deny
deny from all
satisfy all
</Files>

# Forcer le téléchargement pour ces types de fichiers
AddType application/octet-stream .doc .docx .xls .xlsx .csv .mp3 .mp4

# Désactiver le hotlinking des images (à refaire)
RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?monsite.com [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ http://fakeimg.pl/400x200/?text=Pas_touche_aux_images [NC,R,L]

# Autorisation de lister les fichiers pour toute l'arborescence
Options +Indexes

# Fichiers à ignorer dans le listing
IndexIgnore .htaccess .header.html .readme.html favicon.ico .ftpquota .DS_Store icons Thumbs.db db _notes *.log *,v *,t .??* *~ *# 

# Paramètres à expliquer
IndexOptions FancyIndexing FoldersFirst SuppressHTMLPreamble VersionSort NameWidth=* HTMLTable Charset=UTF-8 IgnoreCase
IndexOrderDefault Descending Name

# Pages d'erreurs modifiée
# 400 Bad Request / La requête est syntaxiquement mal formulée ou est impossible à satisfaire
ErrorDocument 400 /errors/400.php

# 401 Authentication Required / Le client doit reformuler sa requête avec les bonnes données d\'autorisation
ErrorDocument 401 /errors/401.php

# 403 Forbidden / L\'accès à la ressource est interdit
ErrorDocument 403 /errors/403.php

# 404 Not Found / Le serveur n\'a rien trouvé à l\'adresse spécifiée
ErrorDocument 404 /errors/404.php

# 500 Server Error / Le serveur a rencontré une situationinattendue qui l\'a empêché de donner suite à la demande
ErrorDocument 500 /errors/500.php
